* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #dcd5cf;
}

/* HEADER */
.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #8f6042;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo-company img {
  width: 150px;
  padding-left: 10px;
  padding-top: 10px;
}

nav {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #c29066;
  color: black;
}

nav a:hover {
  background-color: #d7baaa;
}

/* HOME SECTION */
h1 {
  margin: 10px;
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}

p {
  margin: 10px;
  text-align: center;
  font-size: 20px;
}

/* HERO SECTION */
.hero-section {
  display: flex;
  width: 100%;
  animation: slide 15s infinite;
  font-family: Poppins;
}

.hero-section img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
